---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { getCollection } from 'astro:content';
const resources = await getCollection('resources');
---

<Layout title="FewrKit - Frontend Web Resources Kit">
  <main class="mx-auto p-2">
    <header class="mb-12 mt-8 text-center">
      <h1 class="mb-4 font-mono text-5xl font-semibold text-gray-900">
        Frontend Web Resources Kit
      </h1>
      <p class="text-center">
        Created by
        <a
          href="https://www.carlisle.dev/"
          class="font-mono font-semibold underline"
          target="_blank">Brandon</a
        >
      </p>
    </header>

    <div
      class="grid grid-cols-1 items-center gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      {resources.map((resource) => <Card resource={resource} />)}
    </div>
  </main>
</Layout>
