---
import Tag from './Tag.astro';

import type { CollectionEntry } from 'astro:content';

export interface Props {
  resource: CollectionEntry<'resources'>;
}

const { resource } = Astro.props;
---

<a
  href={resource.data.href}
  target="_blank"
  class="group rounded-lg bg-gradient-to-br from-blue-300 to-emerald-200 p-[2.4px] shadow-md shadow-teal-300/50 transition-all duration-300 hover:shadow-lg hover:shadow-sky-400/50"
>
  <div class="flex h-full flex-col gap-2 rounded-lg bg-white p-4">
    <h2 class="font-semibold">
      {resource.data.title}
      <span
        class="inline-block transition-all duration-200 group-hover:translate-x-1"
        >&rarr;</span
      >
    </h2>
    <p class="mb-3">
      {resource.body}
    </p>
    <ul class="flex gap-1">
      {resource.data.tags.map((tag) => <Tag tag={tag} />)}
    </ul>
  </div>
</a>
