---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
  <a
    href={href}
    class="flex flex-col gap-2 rounded-lg bg-white p-4 shadow-sm transition-all hover:shadow-md"
  >
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
